{% extends "_base.html" %}
{% block content %}

                <main class="ckut6">

                <div class="c4ijw c9on9">
                    <div class="ct1ew csj4z csmh2 c1u8w" aria-hidden="true">
                        <img class="cbq5m coe73 crszu c3ff8 cgdfi cs93n" src="images/pay-bg.jpg" width="460" height="180" alt="Pay background">
                    </div>
                    <div class="c4ijw c0nbw clpyc cj3hv cofxq c9r0z">
                        <img class="cfx0b cetne" src="images/pay-bg.jpg" width="460" height="180" alt="Pay background">
                    </div>
                </div>

                <div class="c4ijw c0nbw clpyc cj3hv cofxq c9r0z caadu" x-data="{ card: true }">
                    <div class="bg-white dark:bg-slate-800 c426q cetne cedgs cukwe">

                        <!-- Card header -->
                        <div class="cob4g crkc7">
                            <div class="c7j98">
                                <img class="inline-flex rounded-full cfqlj" src="images/user-64-13.jpg" width="64" height="64" alt="User">
                            </div>
                            <h1 class="text-slate-800 dark:text-slate-100 cqosy ctbo0 cvvcr c7j98">Front-End Learning 🔥</h1>
                            <div class="text-sm">
                                Learn how to create real web apps using HTML &amp; CSS. Code templates included.
                            </div>
                        </div>

                        <!-- Toggle -->
                        <div class="flex justify-center crkc7">
                            <div class="flex rounded cnxcn cn1je c4ijw c3ff8 ccw5e">
                                <span class="m-1 pointer-events-none csmh2 c1u8w" aria-hidden="true">
                                    <span class="bg-white rounded border border-slate-200 crhoe ce4zx crp72 cgpmj c5mjj cl0q9 csmh2 c1u8w cecno" :class="card ? 'translate-x-0' : 'cmclx'"></span>
                                </span>
                                <button class="text-sm crp72 cw92y cgpmj c4ijw cy6kd ccw5e" :class="card &amp;&amp; 'dark:cqc99'" @click.prevent="card = true">Pay With Card</button>
                                <button class="text-sm crp72 cw92y cgpmj c4ijw cy6kd ccw5e" :class="!card &amp;&amp; 'dark:cqc99'" @click.prevent="card = false">Pay With PayPal</button>
                            </div>
                        </div>

                        <!-- Card form -->
                        <div x-show="card">
                            <div class="cxebx">
                                <!-- Card Number -->
                                <div>
                                    <label class="block text-sm cw92y ci4cg" for="card-nr">Card Number <span class="c6tg6">*</span></label>
                                    <input id="card-nr" class="c03gb c3ff8" type="text" placeholder="1234 1234 1234 1234">
                                </div>
                                <!-- Expiry and CVC -->
                                <div class="flex cwh9k">
                                    <div class="cy6kd">
                                        <label class="block text-sm cw92y ci4cg" for="card-expiry">Expiry Date <span class="c6tg6">*</span></label>
                                        <input id="card-expiry" class="c03gb c3ff8" type="text" placeholder="MM/YY">
                                    </div>
                                    <div class="cy6kd">
                                        <label class="block text-sm cw92y ci4cg" for="card-cvc">CVC <span class="c6tg6">*</span></label>
                                        <input id="card-cvc" class="c03gb c3ff8" type="text" placeholder="CVC">
                                    </div>
                                </div>
                                <!-- Name on Card -->
                                <div>
                                    <label class="block text-sm cw92y ci4cg" for="card-name">Name on Card <span class="c6tg6">*</span></label>
                                    <input id="card-name" class="c03gb c3ff8" type="text" placeholder="John Doe">
                                </div>
                                <!-- Email -->
                                <div>
                                    <label class="block text-sm cw92y ci4cg" for="card-email">Email <span class="c6tg6">*</span></label>
                                    <input id="card-email" class="c03gb c3ff8" type="email" placeholder="john@company.com">
                                </div>
                            </div>
                            <!-- Form footer -->
                            <div class="cro1p">
                                <div class="c958j">
                                    <button class="btn cfeqx cf1ce ceqwg c3ff8">Pay $253.00</button>
                                </div>
                                <div class="text-slate-500 cob4g c0qeg clmtf">You'll be charged $253, including $48 for VAT in Italy</div>
                            </div>
                        </div>

                        <!-- PayPal form -->
                        <div x-show="!card" x-cloak="">
                            <div>
                                <div class="c958j">
                                    <button class="btn cfeqx cf1ce ceqwg c3ff8">Pay with PayPal - $253.00</button>
                                </div>
                                <div class="text-slate-500 cob4g c0qeg clmtf">You'll be charged $253, including $48 for VAT in Italy</div>
                            </div>
                        </div>

                    </div>
                </div>
            </main>

{% endblock content %}