{% extends "_base2.html" %}
{% load static %}
{% block content %}
       <!-- Page content -->
        <main class="cgnjb">
            
            <section>
                <div class="c5fcz cnmmr cg498 cw2nq">
                    <div class="cy6zq crh5c">

                        <div class="cpthp czrhe cs10o">
                            <div class="c9pd1">

                                <div class="c0drb cpgkc ckhko c26j7 c2wd7 cl110 cd8xp ctanz cqckm conig cc8zc c0zgo c3927 chwso clw5z ckuy9 cjewx cx8zz ckwv3 cb7i0 cj1vz cezsk">
                                    <div class="cxo8x cw1gd cmkro cbc1e cyfzq cevtx cshco cv8gl cgrfs cxcm6 cxpc2 ccjiw c1l9r ckwv3 cryv2 cc7et cf0cr c02c5">
                                        <!-- Border with dots in corners -->
                                        <div class="c3cy3 cpoza c4xyw cauvd cehp5 chqy8 c3ehf cks6d c8z9n crgvw c2z22 cr2ij cpue7 c8arv cevtx cr5hf cw7re cxgoq cjkk2 c1qs0 ckoug cpnw7 cr8aa cag0k" aria-hidden="true"></div>                                    
                                        <span class="c0cnt ce627 cyiq9 ccjbb cfatl c2gcs ckwv3">Waitlist v1 <span class="cw5ms cyt8n">·</span> Coming Soon</span>
                                    </div>
                                </div>

                                <h1 class="c0cnt ce627 cwr74 cfatl crlpf cbwmu c2gcs cr5d0 cvxf3 ch47f casec">The software that sparks your imagination</h1>
                                <p class="cauea cgrfs cs94t">
                                    Our landing page template works on all devices, so you only have to set it up once, and get beautiful results forever.
                                </p>

                            </div>
                        </div>

                        <div class="c1t8r c330t cfs2v c1upr c2wd7 cl110 cd8xp ctanz cqckm conig cc8zc c0zgo c3927 ciay6 c7a79 chwso clw5z cjewx ckwv3 cgio7 c9l48 cezsk">
                            <div class="cgc2y c81ef czrhe coe0p">
                            <div class="czrhe coe0p cgc2y c81ef">
                                <form class="ckwv3">
                                    
                                    <!-- Border with dots in corners -->
                                    <div class="cr8aa clot7 cag0k ccjiw cr2ij cevtx cpue7 cjkk2 csmr0 cym3j crgvw cq4r1 cehp5 cxgoq cr5hf c1qs0 c26dl cxpxq c2z22 cfdqj chqy8 ci2tu c0cnt cvvig cba0k ck5ws c5pov" aria-hidden="true"></div>

                                    <div class="c2c8b">
                                        <div class="cacgm">
                                            <div>
                                                <label class="cz99u" for="name">Nom</label>
                                                <div class="ckwv3">
                                                    <div class="cwysf cr8aa c9v7h cu4yo cezsk chwso cyi7p cud52 cis7l">
                                                        <svg class="cdyx3" xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                                                            <path d="M14.9 0c-.3 0-8.4.8-11.6 4-2.8 2.8-2.2 6.5-1.2 8.5L.3 14.3c-.4.4-.4 1 0 1.4.2.2.4.3.7.3.3 0 .5-.1.7-.3l1.8-1.8c.9.4 2.2.8 3.6.8 1.6 0 3.3-.5 4.9-2 3.4-3.4 4-11.3 4-11.6 0-.3-.1-.6-.3-.8-.2-.2-.5-.3-.8-.3Zm-4.3 11.3c-1.9 1.9-4.2 1.5-5.5 1.1L9.4 8c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0L3.6 11c-.4-1.4-.8-3.7 1.1-5.6 1.9-1.9 6.5-2.9 9.2-3.3-.3 2.3-1.1 7-3.3 9.2Z"></path>
                                                        </svg>                                                      
                                                    </div>
                                                    <input id="name" class="coyoz coe0p cyujy cjygq cc7et" type="text" placeholder="Votre nom..." required="">
                                                </div>
                                            </div>
                                            <div>
                                                <label class="cz99u" for="name">Prenom</label>
                                                <div class="ckwv3">
                                                    <div class="cwysf cr8aa c9v7h cu4yo cezsk chwso cyi7p cud52 cis7l">
                                                        <svg class="cdyx3" xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                                                            <path d="M14.9 0c-.3 0-8.4.8-11.6 4-2.8 2.8-2.2 6.5-1.2 8.5L.3 14.3c-.4.4-.4 1 0 1.4.2.2.4.3.7.3.3 0 .5-.1.7-.3l1.8-1.8c.9.4 2.2.8 3.6.8 1.6 0 3.3-.5 4.9-2 3.4-3.4 4-11.3 4-11.6 0-.3-.1-.6-.3-.8-.2-.2-.5-.3-.8-.3Zm-4.3 11.3c-1.9 1.9-4.2 1.5-5.5 1.1L9.4 8c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0L3.6 11c-.4-1.4-.8-3.7 1.1-5.6 1.9-1.9 6.5-2.9 9.2-3.3-.3 2.3-1.1 7-3.3 9.2Z"></path>
                                                        </svg>                                                      
                                                    </div>
                                                    <input id="name" class="coyoz coe0p cyujy cjygq cc7et" type="text" placeholder="Votre prenom..." required="">
                                                </div>
                                            </div>
                                            <div>
                                                <label class="cz99u" for="name">Tell</label>
                                                <div class="ckwv3">
                                                    <div class="cwysf cr8aa c9v7h cu4yo cezsk chwso cyi7p cud52 cis7l">
                                                    <svg class="c81ef ct630" width="12" height="16" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M10 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2ZM2 13V3h8v10H2Z"></path>
                                                    </svg>                                                     
                                                    </div>
                                                    <input id="name" class="coyoz coe0p cyujy cjygq cc7et" type="text" placeholder="Telephone..." required="">
                                                </div>
                                            </div>
                                            <div>
                                                <label class="cz99u" for="email">Email</label>
                                                <div class="ckwv3">
                                                    <div class="cwysf cr8aa c9v7h cu4yo cezsk chwso cyi7p cud52 cis7l">
                                                        <svg class="cdyx3" xmlns="http://www.w3.org/2000/svg" width="16" height="14">
                                                            <path d="M14 0H2a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm0 12H2V5.723l5.504 3.145a.998.998 0 0 0 .992 0L14 5.723V12Zm0-8.58L8 6.849 2 3.42V2h12v1.42Z"></path>
                                                        </svg>                                                      
                                                    </div>
                                                    <input id="email" class="coyoz coe0p cyujy cjygq cc7et" type="email" placeholder="Votre email..." required="">
                                                </div>
                                            </div>
                                            <div>
                                                <label class="cz99u" for="company">Provenance</label>
                                                <div class="ckwv3">
                                                    <div class="cwysf cr8aa c9v7h cu4yo cezsk chwso cyi7p cud52 cis7l">
                                                        <svg class="cdyx3" xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                                                            <path d="m5.2.02 10 2A1 1 0 0 1 16 3v12a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h3V1A1 1 0 0 1 5.2.02ZM2 12v2h4v-2H2Zm0-4v2h4V8H2Zm6 6h6V3.82l-8-1.6V6h1a1 1 0 0 1 1 1v7Zm2-8h2v6h-2V6Z"></path>
                                                        </svg>                                                      
                                                    </div>
                                                    <select id="company" class="cyg65 coe0p cyujy cc7et" required="">
                                                        <option selected="" disabled="" hidden="">Commune</option>
                                                        <option>Dixin</option>
                                                        <option>Matoto</option>
                                                        <option>Ratoma</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div>
                                                <label class="cz99u" for="message">Message</label>
                                                <textarea id="message" class="cot75 coe0p c4gmd cc7et" placeholder="Your message.." rows="3" required=""></textarea>
                                            </div>
                                            <div>
                                                <label class="cezsk chwso">
                                                    <input type="checkbox" class="cjnh9">
                                                    <span class="ct1ec cc7et ckasv">I'd like to receive updates &amp; product news.</span>
                                                </label>                                            
                                            </div>
                                        </div>
                                        <div>
                                            <button class="chuxb coe0p ccs7d ceto1 cfhsj czmlk czbbd cg4ff">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            </div>
                        </div>

                        <div class="cpthp czrhe">
                            <div class="c9pd1">
                                <!-- Avatars -->
                                <ul class="c3927 cazyq c5xjj cezsk">
                                    <li>
                                        <img class="cxhhk" src="{% static "images/avatar-01.jpg" %}" width="32" height="32" alt="Avatar 01">
                                    </li>
                                    <li>
                                        <img class="cxhhk" src="{% static "images/avatar-02.jpg" %}" width="32" height="32" alt="Avatar 02">
                                    </li>
                                    <li>
                                        <img class="cxhhk" src="{% static "images/avatar-03.jpg" %}" width="32" height="32" alt="Avatar 03">
                                    </li>
                                    <li>
                                        <img class="cxhhk" src="{% static "images/avatar-04.jpg" %}" width="32" height="32" alt="Avatar 04">
                                    </li>
                                    <li>
                                        <img class="cxhhk" src="{% static "images/avatar-05.jpg" %}" width="32" height="32" alt="Avatar 05">
                                    </li>                                
                                </ul>
                                <p class="ckasv cc7et">Join the <span class="cj90m cgrfs cxpc2">2.000+</span> members who have already signed up.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

        </main>
 
{% endblock content %}